body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}
header {
    background: #333;
    color: white;
    padding: 20px;
}
section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #0056b3;
}
pre {
    background: #eee;
    padding: 10px;
    text-align: left;
}
